.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

a:visited {
  color: darkgreen;
}

.app-contents {
  padding-top: 20%;
}

.sum {
  margin: 20px;
}

.search {
  margin: 30px;
}